@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}

:root {
  // toolbar
  --toolbar-bg-color: #E5E7E8;
  --toolbar-bb-color: #CCCCCC;
  --toolbar-btn-bg-color: #E5E7E8;
  --toolbar-btn-hover-bg-color: #D2D4D5;
  --toolbar-btn-active-bg-color: #C5C7C8;
  --toolbar-btn-icon-color: #000000;
  --toolbar-brand-color: #000000;
  --toolbar-sd-name-color: #000000;
  --toolbar-sd-logout-color: #005CBB;
  --toolbar-avatar-bg-color: #005CBB;
  --toolbar-avatar-color: #FFFFFF;

  // sidenav
  --sidenav-bg-color: #E5E7E8;
  --sidenav-link-color: #6F767E;
  --sidenav-link-hover-bg-color: #FFFFFF;
  --sidenav-link-hover-color: #000000;
  --sidenav-scrollbar-bg-color: #A9A9A9;
  --sidenav-item-active-bg-color: #FFFFFF;
  --sidenav-item-active-color: #000000;

  // body
  --body-bg-color: #E5E7E8;
  --body-text-color: #000000;
}
