@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}
